@tailwind preflight;
@tailwind utilities;
@tailwind components;

/* custom CSS begins here */
.movie-result__hover-buttons-container {
  opacity: 0;
  transition: opacity .25s;
}

.movie-result__hover-buttons-container:hover {
  opacity: 1;
}

